In [12]:
import pandas as pd
import os
import sys

In [13]:
# data directory
data_dir = '../src/data'
data_dir_historical = os.path.join(data_dir, "historical")
print(os.listdir(data_dir_historical))

data_dir_list = os.listdir(data_dir_historical)

['madison_airport_1996-2015_historical_dailysummary.csv', 'madison_airport_2016-2025_historical_dailysummary.csv']

In [26]:
# read in files
"""
# example
madison2025_path = os.path.join(data_dir_historical, os.listdir(data_dir_historical)[1])
madison2025_df = pd.read_csv(f'{madison2025_path}')
print(madison2025_df.info())
madison2025_df.head(10)
"""

# load the 2016-2025 file (contains all weathers data from the airport station)
madison2016_2025_path = os.path.join(data_dir_historical, os.listdir(data_dir_historical)[1])
madison2016_2025_df = pd.read_csv(f'{madison2016_2025_path}')
print(madison2016_2025_df.info())

# load the 1996-2015 file (contains all weathers data from the airport station)
madison1996_2015_path = os.path.join(data_dir_historical, os.listdir(data_dir_historical)[0])
madison1996_2015_df = pd.read_csv(f'{madison1996_2015_path}')
print(madison2016_2025_df.info())
madison2016_2025_df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6970 entries, 0 to 6969
Data columns (total 64 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATION          6970 non-null   object
 1   NAME             6970 non-null   object
 2   LATITUDE         6970 non-null   float64
 3   LONGITUDE        6970 non-null   float64
 4   ELEVATION        6970 non-null   float64
 5   DATE             6970 non-null   object
 6   AWND             6968 non-null   float64
 7   AWND_ATTRIBUTES  6968 non-null   object
 8   PRCP             6970 non-null   float64
 9   PRCP_ATTRIBUTES  6970 non-null   object
 10  SNOW             6965 non-null   float64
 11  SNOW_ATTRIBUTES  6965 non-null   object
 12  SNWD             6908 non-null   float64
 13  SNWD_ATTRIBUTES  6908 non-null   object
 14  TAVG             3679 non-null   float64
 15  TAVG_ATTRIBUTES  3679 non-null   object
 16  TMAX             6970 non-null   float64
 17  TMAX_ATTRIBUTES  6970 non-null   object
 18  TMIN             6970 non-null   float64
 19  TMIN_ATTRIBUTES  6970 non-null   object
 20  TSUN             722 non-null    float64
 21  TSUN_ATTRIBUTES  722 non-null    object
 22  WT01             3675 non-null   float64
 23  WT01_ATTRIBUTES  3675 non-null   object
 24  WT02             412 non-null    float64
 25  WT02_ATTRIBUTES  412 non-null    object
 26  WT03             648 non-null    float64
 27  WT03_ATTRIBUTES  648 non-null    object
 28  WT04             125 non-null    float64
 29  WT04_ATTRIBUTES  125 non-null    object
 30  WT05             352 non-null    float64
 31  WT05_ATTRIBUTES  352 non-null    object
 32  WT06             88 non-null     float64
 33  WT06_ATTRIBUTES  88 non-null     object
 34  WT07             199 non-null    float64
 35  WT07_ATTRIBUTES  199 non-null    object
 36  WT08             1732 non-null   float64
 37  WT08_ATTRIBUTES  1732 non-null   object
 38  WT09             172 non-null    float64
 39  WT09_ATTRIBUTES  172 non-null    object
 40  WT10             2 non-null      float64
 41  WT10_ATTRIBUTES  2 non-null      object
 42  WT11             5 non-null      float64
 43  WT11_ATTRIBUTES  5 non-null      object
 44  WT13             2978 non-null   float64
 45  WT13_ATTRIBUTES  2978 non-null   object
 46  WT14             627 non-null    float64
 47  WT14_ATTRIBUTES  627 non-null    object
 48  WT15             65 non-null     float64
 49  WT15_ATTRIBUTES  65 non-null     object
 50  WT16             2258 non-null   float64
 51  WT16_ATTRIBUTES  2258 non-null   object
 52  WT17             38 non-null     float64
 53  WT17_ATTRIBUTES  38 non-null     object
 54  WT18             1125 non-null   float64
 55  WT18_ATTRIBUTES  1125 non-null   object
 56  WT19             9 non-null      float64
 57  WT19_ATTRIBUTES  9 non-null      object
 58  WT21             327 non-null    float64
 59  WT21_ATTRIBUTES  327 non-null    object
 60  WT22             132 non-null    float64
 61  WT22_ATTRIBUTES  132 non-null    object
 62  WV03             12 non-null     float64
 63  WV03_ATTRIBUTES  12 non-null     object
dtypes: float64(32), object(32)
memory usage: 3.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6970 entries, 0 to 6969
Data columns (total 64 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATION          6970 non-null   object
 1   NAME             6970 non-null   object
 2   LATITUDE         6970 non-null   float64
 3   LONGITUDE        6970 non-null   float64
 4   ELEVATION        6970 non-null   float64
 5   DATE             6970 non-null   object
 6   AWND             6968 non-null   float64
 7   AWND_ATTRIBUTES  6968 non-null   object
 8   PRCP             6970 non-null   float64
 9   PRCP_ATTRIBUTES  6970 non-null   object
 10  SNOW             6965 non-null   float64
 11  SNOW_ATTRIBUTES  6965 non-null   object
 12  SNWD             6908 non-null   float64
 13  SNWD_ATTRIBUTES  6908 non-null   object
 14  TAVG             3679 non-null   float64
 15  TAVG_ATTRIBUTES  3679 non-null   object
 16  TMAX             6970 non-null   float64
 17  TMAX_ATTRIBUTES  6970 non-null   object
 18  TMIN             6970 non-null   float64
 19  TMIN_ATTRIBUTES  6970 non-null   object
 20  TSUN             722 non-null    float64
 21  TSUN_ATTRIBUTES  722 non-null    object
 22  WT01             3675 non-null   float64
 23  WT01_ATTRIBUTES  3675 non-null   object
 24  WT02             412 non-null    float64
 25  WT02_ATTRIBUTES  412 non-null    object
 26  WT03             648 non-null    float64
 27  WT03_ATTRIBUTES  648 non-null    object
 28  WT04             125 non-null    float64
 29  WT04_ATTRIBUTES  125 non-null    object
 30  WT05             352 non-null    float64
 31  WT05_ATTRIBUTES  352 non-null    object
 32  WT06             88 non-null     float64
 33  WT06_ATTRIBUTES  88 non-null     object
 34  WT07             199 non-null    float64
 35  WT07_ATTRIBUTES  199 non-null    object
 36  WT08             1732 non-null   float64
 37  WT08_ATTRIBUTES  1732 non-null   object
 38  WT09             172 non-null    float64
 39  WT09_ATTRIBUTES  172 non-null    object
 40  WT10             2 non-null      float64
 41  WT10_ATTRIBUTES  2 non-null      object
 42  WT11             5 non-null      float64
 43  WT11_ATTRIBUTES  5 non-null      object
 44  WT13             2978 non-null   float64
 45  WT13_ATTRIBUTES  2978 non-null   object
 46  WT14             627 non-null    float64
 47  WT14_ATTRIBUTES  627 non-null    object
 48  WT15             65 non-null     float64
 49  WT15_ATTRIBUTES  65 non-null     object
 50  WT16             2258 non-null   float64
 51  WT16_ATTRIBUTES  2258 non-null   object
 52  WT17             38 non-null     float64
 53  WT17_ATTRIBUTES  38 non-null     object
 54  WT18             1125 non-null   float64
 55  WT18_ATTRIBUTES  1125 non-null   object
 56  WT19             9 non-null      float64
 57  WT19_ATTRIBUTES  9 non-null      object
 58  WT21             327 non-null    float64
 59  WT21_ATTRIBUTES  327 non-null    object
 60  WT22             132 non-null    float64
 61  WT22_ATTRIBUTES  132 non-null    object
 62  WV03             12 non-null     float64
 63  WV03_ATTRIBUTES  12 non-null     object
dtypes: float64(32), object(32)
memory usage: 3.4+ MB
None

/tmp/ipykernel_4396/3368284072.py:17: DtypeWarning: Columns (21,35,41,43,45,47,49,51,53,55,57,59,61,63) have mixed types. Specify dtype option on import or set low_memory=False.
  madison1996_2015_df = pd.read_csv(f'{madison1996_2015_path}')

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,...,WT18,WT18_ATTRIBUTES,WT19,WT19_ATTRIBUTES,WT21,WT21_ATTRIBUTES,WT22,WT22_ATTRIBUTES,WV03,WV03_ATTRIBUTES
0,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-01,4.8,",,X",0.0,"T,,0,2400",...,1.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-02,2.8,",,X",0.3,",,0,2400",...,1.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-03,3.9,",,X",0.0,"T,,0,2400",...,1.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-04,2.7,",,X",0.0,",,0,2400",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-05,3.2,",,X",6.4,",,0,2400",...,1.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-06,3.3,",,X",0.0,"T,,0,2400",...,1.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-07,3.6,",,X",0.0,",,0,2400",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-08,4.5,",,X",0.0,"T,,0,2400",...,1.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-09,4.4,",,X",0.0,",,0,2400",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-10,3.3,",,X",0.0,",,0,2400",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# combine the data
# use a list to stack them vertically
combined_df = pd.concat([madison1996_2015_df, madison2016_2025_df], ignore_index=True)

# 2. Convert the date column to datetime objects
# Replace 'DATE' with the actual name of your date column (e.g., 'timestamp' or 'date')
combined_df['DATE'] = pd.to_datetime(combined_df['DATE'])

# 3. Sort by the date column
combined_df = combined_df.sort_values(by='DATE').reset_index(drop=True)

# Verify the results
print(combined_df.head())
print(combined_df.info())
combined_df.head(20)

       STATION                                     NAME  LATITUDE  LONGITUDE  \
0  USW00014837  MADISON DANE CO REGIONAL AIRPORT, WI US  43.14069  -89.34521
1  USW00014837  MADISON DANE CO REGIONAL AIRPORT, WI US  43.14069  -89.34521
2  USW00014837  MADISON DANE CO REGIONAL AIRPORT, WI US  43.14069  -89.34521
3  USW00014837  MADISON DANE CO REGIONAL AIRPORT, WI US  43.14069  -89.34521
4  USW00014837  MADISON DANE CO REGIONAL AIRPORT, WI US  43.14069  -89.34521

   ELEVATION       DATE  AWND AWND_ATTRIBUTES  PRCP PRCP_ATTRIBUTES  ...  \
0      261.7 1996-12-01   4.8             ,,X   0.0       T,,0,2400  ...
1      261.7 1996-12-02   2.8             ,,X   0.3        ,,0,2400  ...
2      261.7 1996-12-03   3.9             ,,X   0.0       T,,0,2400  ...
3      261.7 1996-12-04   2.7             ,,X   0.0        ,,0,2400  ...
4      261.7 1996-12-05   3.2             ,,X   6.4        ,,0,2400  ...

   WT18 WT18_ATTRIBUTES  WT19 WT19_ATTRIBUTES  WT21 WT21_ATTRIBUTES  WT22  \
0   1.0             ,,0   NaN             NaN   NaN             NaN   NaN
1   1.0             ,,0   NaN             NaN   NaN             NaN   NaN
2   1.0             ,,0   NaN             NaN   NaN             NaN   NaN
3   NaN             NaN   NaN             NaN   NaN             NaN   NaN
4   1.0             ,,0   NaN             NaN   NaN             NaN   NaN

  WT22_ATTRIBUTES  WV03 WV03_ATTRIBUTES
0             NaN   NaN             NaN
1             NaN   NaN             NaN
2             NaN   NaN             NaN
3             NaN   NaN             NaN
4             NaN   NaN             NaN

[5 rows x 64 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10615 entries, 0 to 10614
Data columns (total 64 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATION          10615 non-null  object
 1   NAME             10615 non-null  object
 2   LATITUDE         10615 non-null  float64
 3   LONGITUDE        10615 non-null  float64
 4   ELEVATION        10615 non-null  float64
 5   DATE             10615 non-null  datetime64[ns]
 6   AWND             10491 non-null  float64
 7   AWND_ATTRIBUTES  10491 non-null  object
 8   PRCP             10615 non-null  float64
 9   PRCP_ATTRIBUTES  10615 non-null  object
 10  SNOW             10609 non-null  float64
 11  SNOW_ATTRIBUTES  10609 non-null  object
 12  SNWD             10552 non-null  float64
 13  SNWD_ATTRIBUTES  10552 non-null  object
 14  TAVG             7204 non-null   float64
 15  TAVG_ATTRIBUTES  7204 non-null   object
 16  TMAX             10615 non-null  float64
 17  TMAX_ATTRIBUTES  10615 non-null  object
 18  TMIN             10615 non-null  float64
 19  TMIN_ATTRIBUTES  10615 non-null  object
 20  TSUN             722 non-null    float64
 21  TSUN_ATTRIBUTES  722 non-null    object
 22  WT01             5361 non-null   float64
 23  WT01_ATTRIBUTES  5361 non-null   object
 24  WT02             598 non-null    float64
 25  WT02_ATTRIBUTES  598 non-null    object
 26  WT03             1073 non-null   float64
 27  WT03_ATTRIBUTES  1073 non-null   object
 28  WT04             176 non-null    float64
 29  WT04_ATTRIBUTES  176 non-null    object
 30  WT05             372 non-null    float64
 31  WT05_ATTRIBUTES  372 non-null    object
 32  WT06             147 non-null    float64
 33  WT06_ATTRIBUTES  147 non-null    object
 34  WT07             199 non-null    float64
 35  WT07_ATTRIBUTES  199 non-null    object
 36  WT08             2108 non-null   float64
 37  WT08_ATTRIBUTES  2108 non-null   object
 38  WT09             215 non-null    float64
 39  WT09_ATTRIBUTES  215 non-null    object
 40  WT10             2 non-null      float64
 41  WT10_ATTRIBUTES  2 non-null      object
 42  WT11             5 non-null      float64
 43  WT11_ATTRIBUTES  5 non-null      object
 44  WT13             2978 non-null   float64
 45  WT13_ATTRIBUTES  2978 non-null   object
 46  WT14             627 non-null    float64
 47  WT14_ATTRIBUTES  627 non-null    object
 48  WT15             65 non-null     float64
 49  WT15_ATTRIBUTES  65 non-null     object
 50  WT16             2258 non-null   float64
 51  WT16_ATTRIBUTES  2258 non-null   object
 52  WT17             38 non-null     float64
 53  WT17_ATTRIBUTES  38 non-null     object
 54  WT18             1125 non-null   float64
 55  WT18_ATTRIBUTES  1125 non-null   object
 56  WT19             9 non-null      float64
 57  WT19_ATTRIBUTES  9 non-null      object
 58  WT21             327 non-null    float64
 59  WT21_ATTRIBUTES  327 non-null    object
 60  WT22             132 non-null    float64
 61  WT22_ATTRIBUTES  132 non-null    object
 62  WV03             12 non-null     float64
 63  WV03_ATTRIBUTES  12 non-null     object
dtypes: datetime64[ns](1), float64(32), object(31)
memory usage: 5.2+ MB
None

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,...,WT18,WT18_ATTRIBUTES,WT19,WT19_ATTRIBUTES,WT21,WT21_ATTRIBUTES,WT22,WT22_ATTRIBUTES,WV03,WV03_ATTRIBUTES
0,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-01,4.8,",,X",0.0,"T,,0,2400",...,1.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-02,2.8,",,X",0.3,",,0,2400",...,1.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-03,3.9,",,X",0.0,"T,,0,2400",...,1.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-04,2.7,",,X",0.0,",,0,2400",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-05,3.2,",,X",6.4,",,0,2400",...,1.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-06,3.3,",,X",0.0,"T,,0,2400",...,1.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-07,3.6,",,X",0.0,",,0,2400",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-08,4.5,",,X",0.0,"T,,0,2400",...,1.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-09,4.4,",,X",0.0,",,0,2400",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-10,3.3,",,X",0.0,",,0,2400",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-11,5.5,",,X",0.0,"T,,0,2400",...,1.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-12,2.4,",,X",0.0,"T,,0,2400",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-13,2.5,",,X",0.0,"T,,0,2400",...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN
13,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-14,4.7,",,X",5.3,",,0,2400",...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN
14,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-15,5.2,",,X",4.1,",,0,2400",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-16,3.2,",,X",0.0,"T,,0,2400",...,1.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-17,3.3,",,X",0.0,"T,,0,2400",...,1.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-18,4.6,",,X",0.0,"T,,0,2400",...,1.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-19,4.1,",,X",0.0,"T,,0,2400",...,1.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-20,4.7,",,X",0.0,",,0,2400",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# clean the combined data (theoretically computationally more expensite, this cost factor is ignored here.)
# We only want the ones related to Temperature, Pressure, Wind, and Precipication.
# Temperature: TMAX, TMIN
# Pressure: NA
# Wind: AWND, Average Wind Speed
# Precipication: PRCP
# Keep STATION, NAME, LATITUDE, LONGITUDE, ELEVATION, DATE, and the weather factors
columns_to_keep = [
    'STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', # Metadata
    'TMAX', 'TMIN', 'TAVG',                                          # Temperature
    'AWND',                                                         # Wind
    'PRCP'                                                          # Precipitation
]
df_cleaned = combined_df[combined_df.columns.intersection(columns_to_keep)]
df_cleaned.head(10)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,PRCP,TMAX,TMIN
0,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-01,4.8,0.0,-0.6,-5.0
1,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-02,2.8,0.3,-3.3,-9.4
2,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-03,3.9,0.0,-1.7,-5.6
3,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-04,2.7,0.0,-0.6,-6.7
4,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-05,3.2,6.4,0.6,-3.3
5,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-06,3.3,0.0,1.1,-2.8
6,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-07,3.6,0.0,2.2,-6.7
7,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-08,4.5,0.0,-1.7,-3.3
8,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-09,4.4,0.0,-2.2,-4.4
9,USW00014837,"MADISON DANE CO REGIONAL AIRPORT, WI US",43.14069,-89.34521,261.7,1996-12-10,3.3,0.0,1.1,-3.3

In [30]:
# save the combined and cleaned dataframe
combined_df_name = "madison1996_2025_combined_cleaned.csv"
try:
    combined_df_path = os.path.join(data_dir_historical, f"{combined_df_name}")
    df_cleaned.to_csv(f'{combined_df_path}', index=False)
    print(f"Successfully saved combined data to {combined_df_path}")
except PermissionError:
    print(f"Error: Could not save file. Please check if '{combined_df_name}' is open in Excel or another program.")
except FileNotFoundError:
    print(f"Error: The director '{data_dir_historical}' does not exist.")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

Successfully saved combined data to ../src/data/historical/madison1996_2025_combined_cleaned.csv